<div class="container p-4">
    <div class="row">
        {{#each userLinks}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{{url}}" target="_blank">
                            <h3 class="card-title text-uppercase">{{title}}</h3>
                        </a>
                        <p class="m-2">
                            {{description}}
                        </p>
                        <p>{{timeago created_at}}</p>
                        <form class="aside" method="POST" action="/links/delete/{{id}}?_method=DELETE">
                            <button class= "btn btn-danger"type="submit">
                                Delete
                            </button>
                        </form>
                        <form class="aside" method="POST" action="/links/edit/{{id}}?_method=PUT">
                            <button class= "btn btn-secondary"type="submit">
                                Edit
                            </button>
                        </a>
                        </form>
                    </div>
                </div>
            </div>
            {{else}}
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center">
                        <a href="">There are no links.</a>
                        <a href="/links/add" class="btn btn-primary">Create one</a>
                    </div>
                </div>
        {{/each}}
    </div>
</div>